.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    height: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
} 

.link {
    width: 100px;
    margin: auto;
    padding: 15px;
}