.navbar {
    position: fixed; /* Keep the navbar fixed at the top */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Ensure it's at the left edge of the viewport */
    right: 0; /* Ensure it spans the full width of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0; /* Reset default margin */
    padding: 0;
    background-color: var(--white-color); /* Set background color */
    color: var(--black-color); /* Set text color */
    width: 100%; /* Ensure full width */
    height: 81px;
    z-index: 1000; /* Ensure it's above other elements */
}
  /* from https://www.w3schools.com/Css/css_navbar_horizontal.asp */
  
.icontext {
    font-family: "PT Sans";
    font-size: 30px; /* Adjust font size */
    margin: 0px; /* Add margin */
    border: 2.5px solid transparent;
    border-radius: 5px;
}
  
  .leftlinks {
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightlinks {
   justify-self: end;
   padding-right: 10px;
  }
  
  .link {
    float: left;
  }
  
  .link a {
    display: block;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    margin: 0px 3px;
    color: var(--black-color);
    margin: auto;
    border: 2.5px solid transparent;
    border-radius: 5px;
  }
  
  /* Change the link color to #111 (black) on hover */
  .link a:hover {
    border-color: var(--black-color);
    color: var(--black-color);
  }
  
  .icontext:hover {
    border-color: var(--black-color);
    color: var(--black-color);
  }
  
  .invertedbtn {
    background-color: var(--white-color);
    margin: 0px 3px 0px 3px;
    border-radius: 5px;
    border: 2.5px solid var(--black-color);
  }
  
  .invertedbtn:hover {
    margin: 0px 3px 0px 3px;
    background-color: var(--accent-color);
    color: var(--black-color);
  }
  
  .navitem:visited {
    color: var(--black-color);
  }
  
  /* Show the hamburger icon only on small screens */
  .menubutton {
    display: none;
    cursor: pointer;
    margin-right: 10px; /* Shift left by 10 pixels */
    padding: 20px;
  }
  
  /* Styling for the hamburger icon */
  .hamburgericon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .hamburgericon div {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  
  /* Optional styling for the hamburger menu when opened */
  .hamburgermenu.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburgermenu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburgermenu.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* Media query for width <= 350px */
  @media only screen and (max-width: 480px) {
    /* Hide individual links */
    .rightlinks li {
      display: none;
    }
  
    /* Show the menu button */
    .menubutton {
      display: block;
    }
    
  }
  
  .sidenavigation {
    position: fixed;
    top: 81px; /* Adjust this according to your navbar height */
    right: 0;
    width: 40%; /* Adjust width as needed */
    height: calc(100% - 81px); /* Adjust height according to navbar height */
    background-color: var(--white-color);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .sidenavigation.show {
    transform: translateX(0%);
  }
  
  .sidenavcontent {
    padding: 20px;
  }
  
  .hamburgericon.open .line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  
  .hamburgericon.open .line:nth-child(2) {
    transform: rotate(0);
    display: none;
  }
  
  .hamburgericon.open .line:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  
  /* Styling for Side Bar Links */
  .sidebarcontent {
    list-style-type: none; /* Remove list-style */
    padding: 0; /* Remove default padding */
    width: 100%;
  }
  
  .sidebarcontent li {
    display: flex; /* Use flexbox for vertical alignment */
    align-items: center; /* Vertically center align items */
    margin-bottom: 10px; /* Add some spacing between items */
    width: 100%;
  }
  
  .sidebarcontent li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    border: 2.5px solid transparent;
    border-radius: 5px;
    width: 100%;
  }
  
  .sidebarcontent li a:hover {
    border-color: var(--black-color);
    color: var(--black-color);
  }