.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.title {
    padding: 80px 0px 0px 0px;
}

.leaderboard {
    width: 70%;
    height: 50%;
    background-color: navy;
    color: white;
    padding: 10px; 
    border-radius: 5px;
    
}

.leaderboard .smalltitle{
    height: 30px;
    margin: 0px;
    text-align: center;
}

.leaderboard .list {
    background-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    height: auto;
    max-height: 100%;
    margin: 3px 0px;
    display: flex;
    flex-direction: column;
}

.leaderboard .listitem {
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    min-height: 25px;
    margin: 3px 0px;
}